

.button {
  background-color: #A9BCFF;
  border: none;
  color:  #474444;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  width:200px;
  height: 37px;
}
