.Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.Quizname {
  margin-top: 100px;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  border: 2px solid #f8f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(181, 185, 185, 0.8);
  height: 80px;
}

.Quiztype_container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  height: 50px;
}

.name {
  margin-right: 10px;
  font-size: 30px;
}

.actionbtn {
  width: 100%;
  display: flex;
  align-items: center;
}

.option1Btn, .option2Btn {
  margin: 0 10px;
  width: 200px;
  font-size: 20px;
  cursor: pointer;
  font-weight: lighter;

}
.option1Btn:hover, .option2Btn:hover {
  background-color:  #94d84f;
  color: white;
}

.cancelBtn, .continuebtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 8px 70px;
  
  font-size: 18px;
  border: none;
  transition: all 0.25s ease;
  margin-bottom: 40px;
  margin-left: 97px;
  width: 250px;
}

.cancelBtn:hover, .continuebtn:hover {
  background-color:  #94d84f; 
  color: white;
}
