.Table table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  padding-top: 70px  ;
  padding-left: 79px;
  padding-right:79px;
}

.Table th, .Table td {
  padding: 10px;
  text-align: left;
  
}

.Table th {
  background-color: #5076FF;
  color: white;
  
}


.Table tr th:first-child,
.Table tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.Table tr th:last-child,
.Table tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Table tr:nth-child(odd) {
  background-color: #EDEDED;
}

.Table tr:nth-child(even) {
  background-color: #B3C4FF;
}

.some {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  background-color: #EDEDED;
  
}

.quiz{
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  color : #5076FF;
  text-align: center;
  padding-top:60px;
}