.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.headerSection {
  text-align: center;
}
.h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  
}

.header {
  
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formGroup {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.label{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  margin-bottom: 1rem;
  width: 150px; 
  text-align: right;
  margin-right: 10px;

}
.input {
    border-radius: 10px 10px 0 0;
    border: none;
    background-color: whitesmoke;
    padding: 0.5rem;
    margin-left: 0.5rem;
    width: 250px;
}

.button {
  margin-top: 20px; 
}


